<?xml version="1.0" encoding="utf-8" ?>
<web-app>

    <servlet>
        <servlet-name>lagou</servlet-name>
        <servlet-class>server.LagouServletDemo1</servlet-class>
<!--        <init-param>-->
<!--            <param-name>contextConfigLocation</param-name>-->
<!--            <param-value>classpath*:springmvc.xml</param-value>-->
<!--        </init-param>-->
<!--        <load-on-startup>1</load-on-startup>-->
    </servlet>


    <servlet-mapping>
        <servlet-name>lagou</servlet-name>
        <url-pattern>/lagou</url-pattern>
    </servlet-mapping>
</web-app>
